section.interactive {
	border: 1px solid var(--color-neutral);
	border-width: 1px 0;
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input[type="text"] {
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-neutral);
	background-color: transparent;
	font-family: "Poppins", sans-serif;
}
input[type="text"]:focus {
	border-color: var(--color-primary);
}

small.hint {
	display: block;
	text-align: center;
}

span.token {
	background-color: var(--color-primary);
	color: var(--color-bg);
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
}
span.token.token--space {
	margin-left: 0.5rem;
}

span.token:nth-child(even) {
	background-color: var(--color-neutral);
}

div.tokens_display {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem 0;
}

.u-w-100 {
	width: 100%;
}
.u-flex {
	display: flex;
}
.u-justify-between {
	justify-content: space-between;
}
.u-bold {
	font-weight: 600;
}

.js-plotly-plot .plotly.plot-container {
	margin: 1rem 0;
}

button {
	background-color: var(--color-primary);
	border: none;
	font-size: 1rem;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	padding: 0.25rem 1rem;
	color: var(--color-bg);
	border-radius: 0.25rem;
	cursor: pointer;
}

.button--secondary {
	background-color: transparent;
	color: var(--color-neutral);
	border: 2px solid var(--color-neutral);
}