.flex { display: flex;}
.inline-flex {display: inline-flex;}

.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse;}
.flex-col { flex-direction: column; }
.flex-col-reverse { flex-direction: column-reverse; }

.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }
.flex-nowrap { flex-wrap: nowrap; }

.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }

.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }

.flex-grow { flex-grow: 1; }
.flex-grow-0 { flex-grow: 0; }

.flex-shrink { flex-shrink: 1; }
.flex-shrink-0 { flex-shrink: 0; }

.gap-0 { gap: 0; }
.gap-1 { gap: 4px; }
.gap-2 { gap: 8px; }
.gap-3 { gap: 12px; }
.gap-4 { gap: 16px; }
.gap-6 { gap: 24px; }
.gap-8 { gap: 32px; }

.gap-x-0 { column-gap: 0; }
.gap-x-1 { column-gap: 4px; }
.gap-x-2 { column-gap: 8px; }
.gap-x-3 { column-gap: 12px; }
.gap-x-4 { column-gap: 16px; }
.gap-x-6 { column-gap: 24px; }
.gap-x-8 { column-gap: 32px; }

.gap-y-0 { row-gap: 0; }
.gap-y-1 { row-gap: 4px; }
.gap-y-2 { row-gap: 8px; }
.gap-y-3 { row-gap: 12px; }
.gap-y-4 { row-gap: 16px; }
.gap-y-6 { row-gap: 24px; }
.gap-y-8 { row-gap: 32px; }