.w-full { width: 100%; }
.w-screen { width: 100vw; }
.w-auto { width: auto; }

.w-1\/2 { width: 50%; }
.w-1\/3 { width: 33.333% }
.w-2\/3 { width: 66.667% }
.w-1\/4 { width: 25% }
.w-3\/4 { width: 75% }
.w-1\/5 { width: 20% }


.max-w-1\/2 { max-width: 50%; }
.max-w-1\/3 { max-width: 33.333% }
.max-w-2\/3 { max-width: 66.667% }
.max-w-1\/4 { max-width: 25% }
.max-w-3\/4 { max-width: 75% }
.max-w-1\/5 { max-width: 20% }
.max-w-full { max-width: 100%; }
.max-w-screen { max-width: 100vw; }

.min-w-1\/2 { min-width: 50%; }
.min-w-1\/3 { min-width: 33.333% }
.min-w-2\/3 { min-width: 66.667% }
.min-w-1\/4 { min-width: 25% }
.min-w-3\/4 { min-width: 75% }
.min-w-1\/5 { min-width: 20% }
.min-w-full { min-width: 100%; }
.min-w-screen { min-width: 100vw; }

.h-full { height: 100%; }
.h-screen { height: 100vh; }
.h-auto { height: auto; }
