@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 20px;
}

body {
	padding: 50px 250px;
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	text-align: left;
	line-height: 1.2;
}

h1 {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 1.75rem;
	margin-bottom: 0.8rem;
	font-weight: 700;
}

h3 {
	font-size: 1.25rem;
	margin-bottom: 0.6rem;
	font-weight: 700;
}

h4, h5, h6 {
	font-size: 1rem;
	margin-bottom: 0.4rem;
	font-weight: 500;
}

p {
	font-size: 1rem;
	line-height: 1.5;
}