@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 20px;

	--color-primary: #20bf55;
	--color-neutral: #011627;
	--color-bg: #fdfffc;
}

body {
	width: 100vw;
	display: flex;
	justify-content: center;
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	color: var(--color-neutral);
	background-color: var(--color-bg);
}

.dash-container {
	padding: 50px 25px;
	max-width: 800px;
}

h1, h2, h3, h4, h5, h6 {
	text-align: left;
	line-height: 1.2;
	color: var(--color-primary);
}

h1 {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 1.75rem;
	margin-bottom: 0.8rem;
	font-weight: 700;
}

h3 {
	font-size: 1.25rem;
	margin-bottom: 0.6rem;
	font-weight: 700;
}

h4, h5, h6 {
	font-size: 1rem;
	margin-bottom: 0.4rem;
	font-weight: 500;
}

p {
	font-size: 1rem;
	line-height: 1.5;
	margin: 0.8rem 0;
}

a {
	color: inherit;
	text-decoration: underline;
	text-underline-offset: 0.2rem;
}

ul {
	margin-left: 2rem;
}
ul li {
	color: var(--color-primary);
}
ul li span {
	color: var(--color-neutral);
}

section.interactive {
	border: 1px solid var(--color-neutral);
	border-width: 1px 0;
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input[type="text"] {
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-neutral);
	background-color: transparent;
	font-family: "Poppins", sans-serif;
}
input[type="text"]:focus {
	border-color: var(--color-primary);
}

small.hint {
	display: block;
	text-align: center;
}

span.token {
	background-color: var(--color-primary);
	color: var(--color-bg);
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
}
span.token.token--space {
	margin-left: 0.5rem;
}

span.token:nth-child(even) {
	background-color: var(--color-neutral);
}

div.tokens_display {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem 0;
}

.u-w-100 {
	width: 100%;
}
.u-flex {
	display: flex;
}
.u-justify-between {
	justify-content: space-between;
}
.u-bold {
	font-weight: 600;
}

.js-plotly-plot .plotly.plot-container {
	margin: 1rem 0;
}

button {
	background-color: var(--color-primary);
	border: none;
	font-size: 1rem;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	padding: 0.25rem 1rem;
	color: var(--color-bg);
	border-radius: 0.25rem;
	cursor: pointer;
}

.button--secondary {
	background-color: transparent;
	color: var(--color-neutral);
	border: 2px solid var(--color-neutral);
}